<div class="introduction" id="group">
  <h4>Group</h4>
  {{ with .Site.Params.group }}
    {{- range $index, $group := . -}}
      <div class="year">{{ $group.year }}</div>
      <ul>
        {{- range $i, $member := $group.member -}}
        <li>
          <span class="group-member"><strong>{{ $member.name }}</strong></span>{{ if $member.position }}, <em>{{ $member.position }}</em>{{ end }}{{ if or ($member.email) ($member.link) ($member.github_link) }} <span class="code_blog">
            {{ with $member.email }}[<a href="mailto:{{ . }}">email</a>]{{ end }}
            {{ with $member.link }}[<a href="{{ . }}">website</a>]{{ end }}
            {{ with $member.github_link }}[<a href="{{ . }}">GitHub</a>]{{ end }}
          </span>{{ end }}
          {{ if $member.description }}
          <br>{{ $member.description | markdownify }}
          {{ end }}
        </li>
        {{- end }}
      </ul>
    {{- end }}
  {{ end }}
</div>

