<link rel="stylesheet" href="{{ "css/home-kawaii.css" | relURL }}?v={{ readFile "static/css/home-kawaii.css" | md5 }}">
<div class="introduction home-intro">
	{{- range $index, $key := .Site.Params.Introduction.paragraph -}}
	<div class="intro-block">
		{{- if $key.welcome }}
		<div class="intro-welcome">
			{{ partial "institution-text.html" (dict "page" $ "text" $key.text) }}
		</div>
		{{- else if $key.fold_title }}
		<details class="intro-note">
			<summary>{{ with $key.fold_icon }}<img class="home-kawaii-emoji" src="{{ . | relURL }}" alt="" width="36" height="36" decoding="async">{{ end }}{{ $key.fold_title }}</summary>
			<div class="intro-note__body">
				{{ partial "institution-text.html" (dict "page" $ "text" $key.text) }}
			</div>
		</details>
		{{- else }}
		{{ partial "institution-text.html" (dict "page" $ "text" $key.text) }}
		{{- end }}
	</div>
	{{- if $key.show_interests }}
	<div class="intro-block research-interests">
		{{ $.RenderString (dict "display" "block") $.Site.Params.interests }}
	</div>
	{{- end }}
	{{- end -}}
	{{ partial "grant-deadlines.html" . }}
	{{- with .Site.Params.Introduction.news }}
	<section class="intro-block intro-news" aria-labelledby="home-news-title">
		<h2 id="home-news-title">Fun things</h2>
		{{- range . }}
		<details class="intro-note intro-note--news">
			<summary>{{ with .icon }}<img class="home-kawaii-emoji" src="{{ . | relURL }}" alt="" width="36" height="36" decoding="async">{{ end }}{{ .title }}</summary>
			<div class="intro-note__body">
				{{ partial "institution-text.html" (dict "page" $ "text" .text) }}
			</div>
		</details>
		{{- end }}
	</section>
	{{- end }}
</div>
