<div class="introduction">
	{{ with .Site.Params.softwares }}
	<h4>Softwares</h4>
	<ul>
		{{- range $index, $softwares_map := $.Site.Params.softwares -}}

		{{ range $elem_index, $software := $softwares_map.software }}
		<li>
		  
			{{ if $software.link }}
			<a href="{{ $software.software_page }}" class="software"> {{ $software.name }}</a>
			{{ else }}
			<p class="software"> {{ $software.name }} </p>
			{{ end }} <br>
			{{ $software.description | markdownify }}.  
			
		  {{ if or ($software.code_link) ($software.github_link)  
			($software.paper)  ($software.just_link) ($software.cran)}}
			<span class="code_blog">
				{{ with $software.code_link }}
				[<a href="{{ . }}">code</a>]
				{{ end }}
				{{ with $software.just_link }}
				[<a href="{{ . }}">link</a>]
				{{ end }}
				
				{{ with $software.paper }}
				[<a href="{{ . }}">associated paper</a>]
				{{ end }}

				{{ with $software.github_link }}
				[<a href="{{ . }}">GitHub</a>]
				{{ end }}
				
				{{ with $software.cran }}
				[<a href="{{ . }}">CRAN</a>]
				{{ end }}
			</span>
			{{ end }}
      
      
      <span class="collaborators">
				{{ $software.authors | markdownify }}
			</span>
		</li>
		{{ end }}

		{{- end -}}
	</ul>
	{{ end }}
</div>
