{{ partial "header.html" . }}

<div class="container wrapper">
	<div class="section-nav-row">
		<a href="/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Home</a>
		<a href="/publications/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Publication</a>
		<span style="font-size:1.3em; color:#0039A6; font-weight:bold;">Software</span>
		<a href="/teaching/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Teaching</a>
		<a href="/group/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Group</a>
		<a href="/resources/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Resource</a>
	</div>

	<div class="introduction" id="software" style="margin-left: 2em;">
		{{ with .Site.Params.softwares }}
		<p style="margin-bottom: 0.8em;"><em>* indicates students or postdocs.</em></p>

		{{- range $index, $softwares := $.Site.Params.softwares -}}
		{{ $softwareCategory := or $softwares.software_category $softwares.year }}
		{{ with $softwareCategory }}
		<div class="year software-category-title">{{ . }}</div>
		{{ end }}
		<div class="software-category-items">
			{{ range $elem_index, $software := $softwares.software }}
			<div style="margin-bottom: 0.7em;">
				<div class="software-title-row">
					{{ if $software.link }}
					<a href="{{ $software.link }}" class="softwares">{{ $software.name }}</a>
					{{ else }}
					<span class="softwares">{{ $software.name }}</span>
					{{ end }}
					{{ if or ($software.github_link) ($software.pdf_link) ($software.just_link) ($software.cran) -}}
					<span class="code_blog"> {{- if $software.github_link -}}[<a href="{{ $software.github_link }}">GitHub</a>]{{- end -}}{{- if $software.pdf_link }} [<a href="{{ $software.pdf_link }}">pdf</a>]{{- end -}}{{- if $software.just_link }} [<a href="{{ $software.just_link }}">link</a>]{{- end -}}{{- if $software.cran }} [<a href="{{ $software.cran }}">CRAN</a>]{{- partial "software-cran-badges.html" $software.cran -}}{{- end -}}</span>
					{{- end }}
				</div>
				<div style="margin-top: 0;">
					<em>{{ $software.desc | markdownify }}</em>
				</div>
				<div style="margin-top: 0.2em;">
					<span class="collaborators">{{ $software.authors | markdownify }}</span>
				</div>
			</div>
			{{ end }}
		</div>
		{{- end -}}
		{{- end -}}
	</div>
</div>

{{ partial "footer.html" . }} 