<div class="section-body" id="publication">
{{ with .Site.Params.publications }}

{{- range $index, $publications := $.Site.Params.publications -}}
		<h2 class="section-category">{{ $publications.year }}</h2>

		<ul class="entry-list">
{{ range $elem_index, $publication := $publications.paper }}
			<li>
{{ if $publication.link }}
					<a href="{{ $publication.link }}" class="publications">{{ $publication.name | replaceRE `[[:space:]]+` " " }}</a>
{{ else }}
					<span class="publications">{{ $publication.name | replaceRE `[[:space:]]+` " " }}</span>
{{ end }}
				<div class="entry-meta">
{{- if ne $publications.year "Preprint" -}}
					<em>{{ $publication.dest }}</em>{{ with $publication.year }}, {{ . }}{{ end }}
{{- end -}}
{{- if or ($publication.code_link) ($publication.arxiv_link) ($publication.pdf_link) ($publication.RG_link) ($publication.just_link) ($publication.software_link) -}}
					<span class="entry-links">{{ with $publication.code_link }}{{ partial "icon-link.html" (dict "url" . "kind" "code" "label" "Code" "context" $publication.name) }}{{ end }}{{ with $publication.pdf_link }}{{ partial "icon-link.html" (dict "url" . "kind" "pdf" "label" "PDF" "context" $publication.name) }}{{ end }}{{ with $publication.software_link }}{{ partial "icon-link.html" (dict "url" . "kind" "software" "label" "Software" "context" $publication.name) }}{{ end }}{{ with $publication.just_link }}{{ partial "icon-link.html" (dict "url" . "kind" "website" "label" "Paper website" "context" $publication.name) }}{{ end }}{{ with $publication.arxiv_link }}{{ partial "icon-link.html" (dict "url" . "kind" "arxiv" "label" "arXiv" "context" $publication.name) }}{{ end }}{{ with $publication.RG_link }}{{ partial "icon-link.html" (dict "url" . "kind" "researchgate" "label" "ResearchGate" "context" $publication.name) }}{{ end }}</span>
{{- end -}}
				</div>
				<div class="entry-meta publication-authors">
					<span class="collaborators">{{ $publication.authors | markdownify }}</span>
				</div>
			</li>
{{ end }}
		</ul>
{{- end -}}
{{- end -}}
	</div>
