<div class="section-body" id="software">
{{ with .Site.Params.softwares }}

{{- range $index, $softwares := $.Site.Params.softwares -}}
{{ $softwareCategory := or $softwares.software_category $softwares.year }}
{{ with $softwareCategory }}
		<h2 class="section-category">{{ . }}</h2>
{{ end }}
		<ul class="entry-list">
{{ range $elem_index, $software := $softwares.software }}
			<li>
				<div class="software-title-row">
{{ if $software.link }}
					<a href="{{ $software.link }}" class="softwares">{{ $software.name }}</a>
{{ else }}
					<span class="softwares">{{ $software.name }}</span>
{{ end }}
{{ if or ($software.github_link) ($software.pdf_link) ($software.just_link) ($software.cran) -}}
					<span class="code_blog"> {{- if $software.github_link -}}[<a href="{{ $software.github_link }}">GitHub</a>]{{- end -}}{{- if $software.pdf_link }} [<a href="{{ $software.pdf_link }}">pdf</a>]{{- end -}}{{- if $software.just_link }} [<a href="{{ $software.just_link }}">link</a>]{{- end -}}{{- if $software.cran }} [<a href="{{ $software.cran }}">CRAN</a>]{{- partial "software-cran-badges.html" $software.cran -}}{{- end -}}</span>
{{- end }}
				</div>
				<div class="entry-description">
					{{ $software.desc | markdownify }}
				</div>
				<div class="entry-meta">
					<span class="collaborators">{{ $software.authors | markdownify }}</span>
				</div>
			</li>
{{ end }}
		</ul>
{{- end -}}
{{- end -}}
	</div>
