{{ partial "header.html" . }}

<div class="container wrapper">
  <div style="margin-left: 2em; margin-top: 1em; display: flex; gap: 2em; align-items: center;">
    <a href="/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Home</a>
    <a href="/publications/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Publication</a>
    <a href="/softwares/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Software</a>
    <a href="/teaching/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Teaching</a>
    <span style="font-size:1.3em; color:#0039A6; font-weight:bold;">Group</span>
  </div>

  <div class="introduction" id="group" style="margin-left: 2em;">
    <h4>Group</h4>
    {{ with .Site.Params.group }}
      {{- range $index, $group := . -}}
        <div class="year">{{ $group.year }}</div>
        <ul>
          {{- range $i, $member := $group.member -}}
          <li style="margin-bottom: 1.5em;">
            <div>
              <span class="group-member"><strong>{{ $member.name }}</strong></span>{{ if $member.position }}, <em>{{ $member.position }}</em>{{ end }}{{ if or ($member.email) ($member.link) ($member.github_link) }} <span class="code_blog">
                {{ with $member.email }}[<a href="mailto:{{ . }}">email</a>]{{ end }}
                {{ with $member.link }}[<a href="{{ . }}">website</a>]{{ end }}
                {{ with $member.github_link }}[<a href="{{ . }}">GitHub</a>]{{ end }}
              </span>{{ end }}
            </div>
            {{ if $member.description }}
            <div style="margin-top: 0.2em;">
              {{ $member.description | markdownify }}
            </div>
            {{ end }}
          </li>
          {{- end }}
        </ul>
      {{- end }}
    {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}

