{{ partial "header.html" . }}

<div class="container wrapper">
	<div class="section-nav-row">
		<a href="/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Home</a>
		<span style="font-size:1.3em; color:#0039A6; font-weight:bold;">Publication</span>
		<a href="/softwares/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Software</a>
		<a href="/teaching/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Teaching</a>
		<a href="/group/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Group</a>
		<a href="/resources/" style="font-size:1.3em; color:#0039A6; text-decoration:none;">Resource</a>
	</div>

	<div class="introduction" id="publication" style="margin-left: 2em;">
		{{ with .Site.Params.publications }}
		<p style="margin-bottom: 0.8em;"><em>* indicates students or postdocs.</em></p>

		{{- range $index, $publications := $.Site.Params.publications -}}
		<div class="year software-category-title">{{ $publications.year }}</div>

		<ul>
			{{ range $elem_index, $publication := $publications.paper }}
			<li>
				{{ if $publication.link }}
					<a href="{{ $publication.link }}" class="publications">{{ $publication.name }}</a>
				{{ else }}
					<span class="publications">{{ $publication.name }}</span>
				{{ end }}
				<div style="margin-top: 0.2em;">
					{{- if ne $publications.year "Preprint" -}}
					<em>{{ $publication.dest }}</em>{{ with $publication.year }}, {{ . }}{{ end }}
					{{- end -}}
					{{- if or ($publication.code_link) ($publication.arxiv_link) ($publication.pdf_link) ($publication.RG_link) ($publication.just_link) ($publication.software_link) -}}
					<span class="code_blog">{{ with $publication.code_link }}[<a href="{{ . }}">code</a>]{{ end }}{{ with $publication.pdf_link }} [<a href="{{ . }}">pdf</a>]{{ end }}{{ with $publication.software_link }} [<a href="{{ . }}">software</a>]{{ end }}{{ with $publication.just_link }} [<a href="{{ . }}">link</a>]{{ end }}{{ with $publication.arxiv_link }} [<a href="{{ . }}">arXiv</a>]{{ end }}{{ with $publication.RG_link }} [<a href="{{ . }}">ResearchGate</a>]{{ end }}</span>
					{{- end -}}
				</div>
				<div style="margin-top: 0.2em;">
					<span class="collaborators">{{ $publication.authors | markdownify }}</span>
				</div>
			</li>
			{{ end }}
		</ul>
		{{- end -}}
		{{- end -}}
	</div>
</div>

{{ partial "footer.html" . }}
