<!DOCTYPE html>
<html>
    {{- partial "header.html" . -}}
    <body>
        <div class="container wrapper">
            {{ partial "resource-head.html" . }}
            <div class="content" style="max-width: 800px; margin: 0 auto; padding: 20px;">
                <a href="/" style="font-size:1.1em; display: block; margin-bottom: 2em;">&larr; Back to Home</a>
                <article class="resource-post" style="width: 100%; margin: 0 auto;">
                    <h1 style="margin-bottom: 1em; color: #333;">Resources</h1>
                    <div class="post-content" style="line-height: 1.6;">
                        {{ range .Pages }}
                        {{ if .Title }}
                        <div style="margin-bottom: 1.5em;">
                            <div>
                                <a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a>
                            </div>
                            <div style="margin-top: 0.2em;">
                                {{ with .Params.description }}<em>{{ . }}</em>{{ end }}
                                {{ with .Date }}, {{ .Format "2006-01-02" }}{{ end }}
                            </div>
                            <div style="margin-top: 0.2em;">
                                {{ with .Params.tags }}<span>Tags: {{ delimit . ", " }}</span>{{ end }}
                            </div>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </article>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html> 